<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <h1>Edit <%= workout.name %></h1>
    <form action ='/workouts/<%=workout.id%>?_method=PUT' method='POST'>
      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=workout.name%>" /><br />
      Equipment: <input type="text" name="equipment" value="<%=workout.equipment%>" /><br />
      Reps: <input type="number" name="reps" value='<%=workout.reps%>' /><br />
      Sets: <input type="number" name="sets" value='<%=workout.sets%>' /><br />
      <input type="submit" value="Submit Changes" />
    </form>
  </body>
</html>