<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Your Workout List</h1>
    <ul class="wrapper">
        <% workouts.forEach( workout => { %>
            <li>
                <a name="index" href="/workouts/<%= workout.id %>">
                    <%= workout.name; %>
                </a>
                <p>
                    Reps: <%= workout.reps; %>
                    
                    Sets: <%= workout.sets; %>
                </p>
            </li>
            <% }) %>
    </ul>
    <a name="add" href="/workouts/new">Add New Exercise</a>
</body>

</html>