<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1><%= workout.name %> Exercise Details</h1>
    <h3><%= workout.name %></h3>
    <p>Equipment: <%= workout.equipment %></p>
    <p>Reps: <%= workout.reps %></p>
    <p>Sets: <%= workout.sets %></p>
    <a href="/workouts/<%= workout.id %>/edit">Edit Exercise</a>
    <br>
    <form action='/workouts/<%= workout.id %>?_method=DELETE' method='POST' style='display:inline; margin-left:16px;'>
        <input type='submit' value='x' />
    </form>
    <br>
    <a href="/workouts">Back to Exercise list</a>
</body>
</html>