<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= workout.name %> Exercise Details</title>
</head>
<body>
    <h1><%= workout.name %> Exercise Details</h1>
    <h3><%= workout.name %></h3>
    <p>Equipment: <%= workout.equipment %></p>
    <p>Reps: <%= workout.reps %></p>
    <p>Sets: <%= workout.sets %></p>
    <a href="/workouts">Back to Exercise list</a>
</body>
</html>